@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;600;800&family=Poppins:ital,wght@0,400;0,800;1,200&display=swap');

:root{
    --color-border1: #AEE2FF;
    --color-border2: #93C6E7;
    --color-p:grey;
    --color-border-button:rgba(151, 71, 255);
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    
}

a{
    text-decoration: none;
    color: black;
}

/* end of global variables */

/* html design*/

/* header  */

header{
    display: flex;
    justify-content: space-between;
    padding: 3% 7%;
    font-weight: 600;
}

nav{
    display: flex;
    align-items: center;
    padding: 0 7%;

}

.logo{
    font-weight: 800;
}

nav ul{
    display: flex;
    list-style-type: none;
    gap: 6%;
}

nav ul a{
    align-items: center;
}


/* end of header  */

/* hero section */

.hero{
    display: block;
    max-width: max-content;
    margin-left: 15%;
    margin-top: 10%;
    margin-bottom:10%;
}

.hero h1{
    justify-content: center;
    align-items: center;
    font-size:100px;
    
}

.hero p{
    color: var(--color-p);

}


.link{
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size:18px;
    height: 50px;
    gap: 30px;
    margin-bottom: 5%;    
    transition:width 2s,height 2s;  
}

.link i {
    border: solid;
    margin-left: 15%;
    font-size: 20px;
    padding: 30% 50%;
    border-radius:50px 40px;
    border-color: rgb(0, 0, 0, 0.69);
    border-width: 1px;
    max-width: fit-content;
}

.link i:hover{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border:none;

}

/* end of hero section */



/* about-section */

.about{
    display: flex;
}

.about .info{
    margin-left: 4%;
   
}

.about .info h2{
    margin-bottom: 3%;
}


/* end-about-section */

/* button  */

.about .info .button{
    border-color: var(--color-border-button);
    border-width:2px;
    
    border-radius:200px;
    padding-bottom:10px;
    padding-top:10px;
    width: 17%;
    color: var(--color-border-button);
}

/* end of button section  */
